{% macro govukPanel(params) %}
<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">{{ params.titleText }}</h1>
    <div class="govuk-panel__body">
        {{ params.html | safe }}
    </div>
</div>
{% endmacro %}
